
.auth-container{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  border: 2px solid white;
  /* background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('../../assets/image/verticalGrid.png'); */


  background-size: cover;

}


.auth-container .image-container{
  border:  red 2px solid;
  height: 100vh;
  width: 45%;
}


.auth-container .form-container{
  width:35%;
  padding:  30px;
  margin: 0 auto;
  border-radius: 5px;
}

.auth-container .form-container .text-field ,
.auth-container .form-container Button{
  display: block;
  margin: 20px auto;
  width: 70%;
}
.auth-container .form-container .form-title{
  width: max-content;
  margin: 0 auto;
}

.auth-container .form-container Button{
  margin-top: 30px;
}