
.auth-container{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.auth-container .image-container{
  border:  red 2px solid;
  height: 100vh;
  width: 45%;
}
.auth-container .form-container{
  border:  #30363d 1px solid;
  width:35%;
  padding:  30px;
  margin: 0 auto;
  border-radius: 5px;
}

.auth-container .form-container .text-field ,
.auth-container .form-container Button{
  display: block;
  margin: 20px auto;
  width: 70%;
}
.auth-container .form-container .form-title{
  width: max-content;
  margin: 0 auto;
}

.auth-container .form-container Button{
  margin-top: 30px;
}