
.auth-container{
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../assets/image/BGauth.png');
  background-size: cover;

}

.auth-container .form-container{
  width:45%;
  padding:  0 30px;
  border-radius: 5px;
}

.auth-container .form-container .text-field ,
.auth-container .form-container Button.sign-up-btn{
  display: block;
  margin: 20px auto;
  width: 70%;

}
.auth-container .form-container .form-title{
  width: 70%;
  margin: 0 auto;
}

.auth-container .form-container .form-title p , 
.auth-container .form-container .form-title h1{
  margin: 10px  0 !important;
}

.auth-container .form-container .form-title p {
color: #e5e7ebc7;
font-size: 13px;
}


.auth-container .form-container Button.sign-up-btn{
  margin-top: 30px;
}