.userInfo{
  width: max-content;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.userInfo img{
margin: 0 !important;
}

.userInfo .username{
  font-size: 17px;
  margin: 0 !important;
  color: rgba(255, 255, 255, 0.95) !important;
}
.userInfo .date{
  color: rgba(255, 255, 255, 0.597);
  font-size: 13px;
  margin: 0 !important;

}