.cards-container{
  width: 90%;
  margin: 20px auto;
  display:flex ;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.add-blogs-container{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 30px auto;

}

.add-blogs-container h2{
  margin: 0 !important;
}