.img-details-container{
  border: none !important;
  outline: none !important;
  width: 80% !important;
  border-radius: 15px;
  min-height: 80vh;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
}

.img-details-container img{
  display: block;
  margin: 20px auto;
  max-width: 600px !important;
  max-height: 500px;
  object-fit: cover;
  margin-top: 40px;
}


#modal-modal-title{
  width: 80%;
  margin: 40px auto;
}

.img-details-header{
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.download-btn{
  background-color: rgb(5 160 129) !important;
  padding-left: 25px !important ;
  padding-right: 25px !important;
}

.photo-operations{
  width: max-content;
  display: inline;
  margin: 0 5px
}

.photo-operations button {
  margin: 0 5px;
  padding-left: 10px !important ;
  padding-right: 10px !important;
  width: 140px !important;
}

.img-details-container::-webkit-scrollbar {
  width: 10px;
}
.img-details-container::-webkit-scrollbar-track {
  border-radius: 10px;
}
.img-details-container::-webkit-scrollbar-thumb {
  background: #1F2937;
  border-radius: 10px;
}